@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    background-color: #f4f4f4;
}

.container {
    margin: 0 auto;
    padding: 100px;
}

.hero {
    height: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: relative; */
    /* gap: 300px; */
}

.hero img {
    width: 300px;
    height: 320px;
    border-radius: 10px;
    float: right;
    filter: drop-shadow(0 0 5px #333);
}

.right {
    margin-top: 3rem;
}

.right h1 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(58, 57, 57);
}

.right p {
    font-size: 30px;
    padding: 5px;
    font-family: "Poppins";
    color: rgb(58, 57, 57);
}

h2 {
    /* font-family: "Raleway"; */
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    padding: 20px;
    color: rgb(58, 57, 57);
}

.info {
    margin-bottom: 100px;
}

.info p {
    padding-right: 40px;
    padding-left: 40px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 30px;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.cont {
    padding-right: 40px;
    padding-left: 40px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 20px;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.cont h5 {
    font-size: 20px;
}

.cont ul {
    padding-left: 30px;
}